
body{font-family:Arial;background:#071a34;color:#fff;text-align:center;margin:0}
header{padding:40px;background:#0d3b73}
.card{background:#123d74;padding:15px;margin:10px auto;max-width:400px;border-radius:10px}
section{padding:20px}
